<div class="main" id=filtered>

<div>
<p class="btn">
  <a href="/transactions/new">New transaction</a>
</p>

<!-- <div>
<p class="btn">
  <a href="/transactions/new">New transaction</a>
</p>
 -->

</div>
<table class="transactions">
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Category</th>
  <th class="amount">Amount</th>
  <th>&nbsp;</th>
</tr>
  <% for transaction in @transactions %>
  <tr>
  <td>
  <%= transaction.trans_date %>
  </td>
  <td>
  <a href="/transactions/merchants/<%= transaction.merchant_id%>">
  <%= transaction.merchant.name %>
  </a>
  </td>
  <td>
  <a href="/transactions/categories/<%= transaction.category_id%>">
  <%= transaction.category.name %>
  </a>
  </td>
  <td class="amount">
  <%if transaction.amount % 1 == 0 %>
  <%= "£"+ transaction.amount.to_s+'0' %>
  <%else%>
  <%= "£"+transaction.amount.to_s %>
  
  <%end%>
  </td> 
  <td>
  <a href ="/transactions/<%= transaction.id %>">view</a>
  <a href ="/transactions/<%= transaction.id %>/edit">edit</a>

  </td>   
  </tr>
  <% end %> 
</table>
</div>

<div class="foot">
  <p>
  <label>
  Total:
  <input disabled type="text" id="total"
    value = <%= @total %>
  </label>

  </p>
  
</div>
