

<div class="main main--display">
<div>
<p class="btn">
  <a href="/transactions/new">New transaction</a>
</p>

</div>
<table class="transactions">
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Category</th>
  <th>Amount</th>
  <th>&nbsp;</th>
</tr>
  <% @sum = 0 %>
  <% for transaction in @transactions %>
  <tr>
  <td>
  <%= transaction.trans_date %>
  </td>
  <td>
  <%= transaction.merchant.name%>
  </td>
  <td>
  <%= transaction.category.name %>
  </td>
  <td>
  <% @sum += transaction.amount%>
  <%if transaction.amount < 10%>
  <%= "£_"+transaction.amount.to_s %>
  <%else%>
  <%= "£"+transaction.amount.to_s %>
  <%end%>
  </td> 
  <td>
  <a href ="/transactions/<%= transaction.id %>">view</a>
  <a href ="/transactions/<%= transaction.id %>/edit">edit</a>

  </td>   
  </tr>
  <% end %>
</table>
</div>

<% @sum.round(2) %>  


<div class="foot">
  <p>
  <label>
  Total:
  <input disabled type="text" id="total"
    value = <%=@sum%>/>
  </label>

  </p>
  
</div>
