<form action="/transactions" method="post" id="new">
  <p>
    <label for="trans_date">
      Date:
    </label>
    <input type="date" id="trans_date" name="trans_date" 
    value = "<%= Date.today  %>"/>
  </p>

  <p>
    <label for="merchant_id">
      Merchant:
    </label>
    <select name="merchant_id" id="merchant_id">
      <option selected disabled value="-1">Select ---  
      </option>

      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </p>

  <p>
    <label for="category_id">
      Category:
    </label>
    <select id="category_id" name="category_id">
      <option selected disabled value="-1">Select ---  
      </option>

      <% for category in @categories %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %> 
    </select>
  </p>

  <p>
  <label for="amount" >
    Amount:
  </label>
  <input type="text" name="amount" id="amount" 
  value = "0.00"/>
</p>

<input type="submit" value="Add" />
</form>
